.track-stock {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: white;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;

  &__form {
    display: flex;
    justify-content: center;
  }

  > p {
    margin: 0.5rem;
  }

  * {
    font-family: "Comic Sans MS", serif;
  }

  &__title-container {
    display: flex;
    justify-content: center;

    &__title {
      color: darkblue;
    }

  }


}
