<div *ngIf="stock$ | async as stock else loading" class="sentiment">
  <div class="sentiment-title">
    <h3>{{stock.symbolDescription.symbol}} ({{stock.symbolDescription.description}})</h3>
  </div>
  <div class="sentiment-data-container">
    <ng-container *ngFor="let sentimentData of stock.sentiment.data">
      <div class="sentiment-data-inner-container">
        <div class="sentiment-data">
          <div>{{sentimentData.date | date:'MMMM y' }}</div>
          <div>Change : {{sentimentData.change}}</div>
          <div>MSPR : {{sentimentData.mspr}}</div>
        </div>
        <ng-container [ngSwitch]="getStockVariation(sentimentData.change)">
          <div *ngSwitchCase="ascending">
            <img alt="green-arrow"
                 class="sentiment-arrow"
                 src="https://www.kindpng.com/picc/m/29-297957_arrow-green-glossy-up-upload-top-up-clipart.png">
          </div>
          <div *ngSwitchCase="descending">
            <img alt="red-arrow"
                 class="sentiment-arrow"
                 src="https://www.kindpng.com/picc/m/9-95440_red-right-arrow-png-images-pictures-red-arrow.png">
          </div>
          <div *ngSwitchCase="constant">
            <img alt="hyphen" class="sentiment-arrow"
                 src="https://www.kindpng.com/picc/m/221-2212324_41016-parallel-hd-png-download.png">
          </div>
        </ng-container>
      </div>

    </ng-container>
  </div>
  <div>
    <button [routerLink]="'/'" id="backBtn">Back to list of stocks</button>
  </div>
</div>

<ng-template #loading>Loading...</ng-template>
