.sentiment {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: white;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.sentiment-title {
  display: flex;
  justify-content: center;
  color: darkblue;
}

.sentiment-data-container {
  display: flex;
  justify-content: space-evenly;
}

.sentiment-data-inner-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.sentiment-data {
  display: flex;
  flex-direction: column;
}

.sentiment-arrow {
  font-size: 40px;
  aspect-ratio: 1 / 1;
}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}
