<div *ngIf="stock$ | async as stock else loading" class="sentiment">
  <div class="sentiment-title">
    <h3>{{stock.symbolDescription.symbol}} ({{stock.symbolDescription.description}})</h3>
  </div>
  <div class="sentiment-data-container">
    <ng-container *ngFor="let sentimentData of stock.sentiment.data">
      <div class="sentiment-data-inner-container">
        <div class="sentiment-data">
          <div>{{sentimentData.date | date:'MMMM y' }}</div>
          <div>Change : {{sentimentData.change}}</div>
          <div>MSPR : {{sentimentData.mspr}}</div>
        </div>
        <ng-container [ngSwitch]="getStockVariation(sentimentData.change)">
          <div *ngSwitchCase="ascending">
            <img alt="green-arrow" class="sentiment-arrow" src="assets/arrows/arrow-green.png">
          </div>
          <div *ngSwitchCase="descending">
            <img alt="red-arrow" class="sentiment-arrow" src="assets/arrows/arrow-red.png">
          </div>
          <div *ngSwitchCase="constant">
            <img alt="hyphen" class="sentiment-arrow" src="assets/arrows/hyphen.png">

          </div>
        </ng-container>
      </div>

    </ng-container>
  </div>
  <div>
    <button [routerLink]="'/'" id="backBtn">Back to list of stocks</button>
  </div>
</div>

<ng-template #loading>Loading...</ng-template>
