.stock-info-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0.5rem;
}

.stock-info {
  display: flex;
  gap: 0.5rem;
  height: 100%;
  flex-direction: column;
  background: white;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;

}

.stock-title {
  color: darkblue;
}

.title-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.remove-stock {
  cursor: pointer;
}

.quote-rows {
  display: flex;
  gap: 2rem;
}
